<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <p>These are a few of my favorite things:</p>
    <ul>
    <% things.forEach(thing => { %>
        <li><%= thing %></li>
    <% }) %>
    </ul>
</body>
</html>